.personal-information-page {
  padding: 48px 0;

  .form-group {
    h3 {
      font-size: 20px;
      font-weight: normal;
    }

    .form-row {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 28px;
      }
    }
  }
}