.button {
  border-radius: 50px;
  width: 100%;
  padding: 17px 0;
  font-size: 17px;
  font-weight: 600;
  color: #5FA01B;

  &.success {
    background-color: #5FA01B;
    color: #FFFFFF;
    border: none;
  }
}