.navigator-search {
  margin-left: 66px;
  display: flex;
  align-items: center;

  img {
    margin-right: 20px;
  }

  input {
    border: none;
    background: transparent;
    font-size: 15px;
  }
}