.footer {
  margin-bottom: 48px;

  .footer-content {
    display: flex;
    justify-content: space-between;
  }

  .footer-copyright {
    font-size: 12px;
    color: #AEAEAE;
    text-align: center;
    margin-top: 51px;
  }

  .platform-availability {
    div {
      margin-bottom: 24px;
    }
  }

  .social {
    margin-top: 17px;
    display: flex;
    flex-wrap: wrap;

    div {
      margin-bottom: 22px;
      width: 33%;
    }
  }
}